@import './css/mixins.styl';

.listingWrapper {
  clearfix();
  width: 100%;
}

.traderPanelsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  align-self: flex-start;
  justify-content: space-between;
  padding: 3px;

  &.mobileTraderPanelsContainer
    padding: 0;
    height: 100%;

    .buySellPanel {
      //border: none;
      margin-bottom: 8px;
    }
  }

  @media screen and (max-width: 1280px) {
    flex-wrap: wrap;

    .leftPanel {
      min-height: 0 !important;
    }

    .rightPanel {
      min-width: 0;
      max-width: 100%;
      width: 100%;
      flex-flow: row wrap;
      justify-content: space-between;

      .emptyBlock {
        min-height: 100px;
        height: 100px;
      }

      > div {
        &:nth-child(1) {
          flex-grow: 1;
          flex-basis: 300px;
          width: auto;
          margin-right: 2px

        }

        &:nth-child(2) {
          flex-grow: 1;
          flex-basis: 300px;
          width: auto;
          margin-left: 2px;
        }

        &:nth-child(3) {
          flex-basis: 100%;
        }
      }
    }
  }

  @media screen and (max-width: 1000px) {
    flex-flow: column nowrap;

    .leftPanel, .rightPanel, .centerPanel {
      width: auto !important;
      flex-basis: auto;
      min-width: auto;
      margin-left: 0;
      margin-right: 0;
    }

    .centerPanel {
      order: 0;
    }
  }
}

.leftPanel {
  tradingBlock();
  margin: 2px;
  width: 355px !important;
  padding: 0 !important;
}

.centerPanel {
  display: flex;
  flex-flow: column nowrap;
  min-width: 400px;
  flex-basis: 0;
  flex-grow: 1;
  margin: 0 2px;

  .chartBlock {
    tradingBlock();
    padding-bottom: 10px;
  }

  .cryptoInfoBlock {
    tradingBlock();
    antTabs();
    flex: 1;

    &.mobileCryptoInfoBlock {
      margin: 0;
      border: 0;
      background: none;

      .icoTopBlock {
        margin: 0;
        border: none;
      }

      .buySellPanel {
        border: 0;

        .leftColumn, .rightColumn {
          width: 41%;
        }
      }

      :global(.lat-tabs-nav) {
        height: 47px;
      }
      :global(.lat-tabs-tab) {
        padding: 13px 2px;
        margin: 0 12px 0 0 !important;

        &:last-child {
          margin-right: 0 !important;
        }

        &:first-child {
          margin-left: 0 !important;
        }
      }
    }

    &.isCrypto {
    }

    .videoContainer {
      height: 300px;
    }

    :global(.lat-tabs-tab) {
      margin: 0 20px 0 0 !important;

      &:last-child {
        margin-right: 0 !important;
      }
    }

    :global(.lat-tabs-bar) {
      border-bottom: 1px solid #e2e2e2;
    }

    .description {
      padding: 10px;
      background-color: white;
      overflow: auto
      smallScroll()

      .line {
        width: 100%;
        line-height: 20px;
        display: flex;
        flex-flow: row nowrap;

        .key {
          color: $grey3;
          margin-right: 10px;
          white-space: nowrap;
        }

        .value {

        }

        p {
          word-break: break-word;
        }
      }

      .icoLinkWrapper {
        margin-bottom: 5px;
        .icoLink {
          text-transform: capitalize;
          font-size: 18px;

          i {
            width: 19px;
            text-align: center;
            margin-right: 2px;
          }
        }
      }
      .newsBlock {
        line-height: 20px;

        .newsTitle {
          display: block;
          font-weight: bold;

          .timeAgo {
            display: inline-block;
            margin-left: 10px;
            color: $grey3;
            font-weight: 500;
          }
        }

        .newsText {
          display: block;
          margin-bottom: 15px;

          .readMore {
            display: inline-block;
            margin-left: 10px;
          }
        }
      }
    }
    .twitterTab {
      > div {
        background: #fff;
        smallScroll()
      }
    }

    .teamMemberList {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 0;
      flex-shrink: 0;
      padding-top: 30px;
    }

    .teamMember {
      display: flex;
      flex-direction: row;
      align-content: flex-start;
      justify-content: space-between;
      margin-bottom: 15px;

      .teamMemberPhoto {
        width: 60px;
        height: 60px;

        .teamMemberPhotoImage {
          width: 60px;
          height: 60px;
          background-size: cover;
          border-radius: 60px;
        }
      }

      .teamMemberDescription {
        margin-left: 10px;
        width: 150px;
      }
      .teamMemberName {
        color: #151524;
        font-size: 18px;
        line-height: 20px;
      }
      .teamMemberPosition {
        font-size: 14px;
        color: #666666;
        line-height: 20px;
      }
      .teamMemberLinkedin {
        font-size: 14px;
        line-height: 20px;
        text-decoration: none;
        color: white;
        :hover {
          text-decoration: none;
          color: white;
        }
      }
      .teamMemberIcon {
        font-size: 10px;
        color: white;
        background-color: #0096ac;
        padding: 2px 2px;
        border-radius: 3px;
      }

    }
  }
}

.select {
  margin-right: 4px;
  width: 80px;
  font-weight: 500;

  :global(.ant-select-selection) {
    height: 28px;
    border-color: #c9cbcd;
    box-shadow: none !important;

    :global(.ant-select-selection__rendered) {
      line-height: 27px;
      font-size: 11px;
    }

    :global(.ant-select-selection-selected-value) {
      color: $grey3;
      transition: color .2s;
    }

    :global(.ant-select-arrow) {
      transition: color .2s;
      border: 4px solid transparent;
      border-top-color: $grey3;
      margin-top: 3px;

      &:before {
        display: none;
      }
    }
  }

  &:global(.ant-select-enabled) {
    :global(.ant-select-selection) {
      &:hover {
        color: $blue1;
        background: alpha($blue1, 0.3);
        border-color: transparent;

        :global(.ant-select-selection-selected-value) {
          color: $blue1;
        }

        :global(.ant-select-arrow) {
          border-top-color: $blue1;
        }
      }
    }
  }

  &.selectActive {
    :global(.ant-select-selection) {
      background: $blue1 !important;
      border-color: $blue1 !important;

      :global(.ant-select-selection-selected-value) {
        color: #fff !important;
      }

      :global(.ant-select-arrow) {
        border-top-color: #fff !important;
      }
    }
  }
}

.rightPanel {
  width: 450px;
  min-width: 450px;
  max-width: 450px;
  display: flex;
  flex-flow: column nowrap;
  margin: 0 2px;
}

.icoTopBlock {
  tradingBlock();

  .header {
    border-bottom: 1px solid #e2e2e2;
    line-height: 37px;
    min-height: 38px;
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .info {
    padding: 10px;
    font-weight: 500;
  }

  .icoName {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .greyText {
    font-size: 14px;
    color: $grey3;
    line-height: 21px;
  }

  .textPadded {
    padding: 10px 0;
  }

  .progressBlock {
    padding: 20px 0;

    .progressBlockTitle {
      font-size: 14px;
      margin-bottom: 5px;
    }

    :global(.ant-progress-bg) {
      background: $blue1;
      height: 6px !important;
    }

    :global(.ant-progress) {
      height: 6px;
      display: block;

      div {
        vertical-align: top;
        height: 6px;
      }
    }

    .progressBlockBottom {
      margin-top: 5px;
    }
  }
}

.emptyBlock {
  tradingBlock();
  min-height: 826px;
  height: 100%;
}

// Animations
.enter {
  opacity: 0;
  transition: opacity .4s;
}

.enterActive {
  opacity: 1;
}

.exit {
  opacity: 1;
  transition: opacity .2s;
}

.exitActive {
  opacity: 0;
}

.noSelect * {
  user-select: none !important;
  cursor: row-resize !important;
}

.selectDropdown {
  :global(.ant-select-dropdown-menu-item) {
    font-size: 11px;
  }

  :global(.ant-select-dropdown-menu-item-disabled) {
    display: none;
  }
}

.buySellPanel {
  tradingBlock();
  padding: 10px;
  min-width: 280px;

  .row {
    clearfix();
    width: 100%;
    padding-bottom: 8px;

    &.mobileRow {
      .caption {
        width: 20%;
      }
      .leftColumn {
        width: 80%;
        padding: 0;
      }
      .mobileTotalRow {
        padding: 0;
        width: 100%;
        float: left;
        .valueBlock {
          padding-left: 0;
          font-weight: 400;
        }
      }
    }

    .mobileBalanceWrap {
      width 82%;
      padding-left: 10px;
      float: left;
      .leftColumn, .rightColumn {
        float: none;
        width: 100%;
        text-align: left;
        padding: 0;

        .valueBlock {
          text-align: left;
          padding: 0;
          line-height: 1;
        }
      }
    }

    &.priceRow {
      .leftColumn {
        width: 50%;
      }
      .rightColumn {
        width: 32%;
      }
    }

    &:last-child {
      padding-bottom: 0;
    }
  }

  .caption {
    float: left;
    width: 18%;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 2px;
    line-height: 26px;
    color: $grey3;
    user-select: none;
  }

  .valueBlock {
    font-size: 12px;
    padding-top: 2px;
    line-height: 26px;
    font-weight: 500;
  }

  .leftColumn, .rightColumn {
    position relative;
    float: left;
    width: 41%;
    padding-right: 10px;
  }

  .rightColumn {
    float: right;
    padding-right: 0;
    padding-left: 10px;
    .valueBlock {
      text-align: right;
      padding-left: 10px;

      .caption {
        padding-top: 0;
        width: auto;
      }
    }

    .totalValue {
      float: right;
    }
  }

  .currency {
    display: inline-block;
    width: 36px;
    font-size: 11px;
  }

  .smallHint {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 22px;
    text-align: right;
    font-size: 11px;
    color: $grey3;
    line-height: 10px;
  }

  .tradingDisabled {
    float: left;
    width: 60%;
    line-height: 28px;
    font-weight: 500;
    font-size: 12px;
  }

  .select {
    width: 100%;

    :global(.ant-select-selection) {
      border-color: $grey2;
      border-radius: 3px;
    }
  }

}

.mobileBuySellPanel {
  height: 44px;
  background-color transparent;
  border: none;
  flex: 0 0 44px;
  padding: 10px 0 0;
  min-width: auto;

  .leftColumn, .rightColumn {
    float: left;
    width: 48%;
    height: 100%;

    div {
      height: 100%;
      line-height: 36px !important;
    }
  }

  .rightColumn {
    float: right;
  }
}

.buySellButtons {
  position relative;

  &.mobileBuySellButtons {
    .caption {
      width: 22%;
    }

    .leftColumn, .rightColumn {
      width: 39%;
    }
  }

  .buySellButton {
    position: relative;
    border-radius: 3px;
    color: white;
    text-transform: uppercase;
    line-height: 28px;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    width: 100%;
    transition: background .2s;
    user-select: none;
    outline: none !important;

    &:after {
      content: '';
      display: block;
      position: absolute;
      z-index: 1;
      top: 50%;
      margin-top: -8px;
      left: 10px;
      border: 2px solid rgba(255, 255, 255, 0.6);
      border-bottom-color: transparent;
      border-radius: 50%;
      width: 16px;
      height: 16px;
      animation: spin 1s linear infinite;
      opacity: 0;
      transition: opacity 2s;
    }

    &.loading:after {
      opacity: 1;
      transition: opacity 0.2s;
    }

    &.buy {
      background-color: #3dbd7d;

      &:hover {
        background-color: lighten(#3dbd7d, 10%);
      }

      &:focus {
        box-shadow: 0 0 5px #3dbd7d;
      }
    }

    &.sell {
      background-color: #e36776;

      &:hover {
        background-color: lighten(#e36776, 10%);
      }

      &:focus {
        box-shadow: 0 0 5px #e36776;
      }
    }

    &.disabled {
      background-color: $grey3 !important;
      cursor: no-drop;
      box-shadow: none !important;
    }
  }
}

.ordersContainer {
  tradingBlock();
  antTabs();
  //height: 240px;

  .disabledRow {
    opacity: 0.4;
  }

  :global(.lat-tabs-tab) {
    white-space: nowrap !important;
  }

  :global(.lat-tabs-nav) {
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
  }

  .orderTabs {
    @include sm-less() {
    width: 100% !important;
    overflow: hidden;
  }
}

.greenContent {
  color: $green1;
}

.redContent {
  color: $red1;
}

.infoPreview {
  margin-left: 10px;
  margin-top: 1px;
  width: 17px;
  height: 17px;
  border-radius: 40px;
  border: solid 1px $blue1;
  color: $blue1;
  font-size: 11px;
  font-weight: 500;
  line-height: 17px;
  text-align: center;
  display: inline-block;
  vertical-align: middle
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
.infoPreviewWrap{
  white-space: nowrap;
}

.cancelButton {
  cursor: pointer;
  font-size: 14px;
  color: #9b9b9b;
  vertical-align: middle;

  &:hover {
    color: $blue1;
  }
}

.myOrders {
  .timeColumn {
    width: 65px;
  }

  .priceColumn {
    width: 58px;
    text-align: right;
  }

  .centerColumn {
    width: 65px;
    text-align: right;
  }

  .sideColumn {
    width: 30px;
    text-align: right;
  }

  .actionColumn {
    width: 30px;
    padding-left: 6px;
    text-align: right;
  }
}

.marketHistory {
  td, th {
    text-align: right !important;

    &:first-child {
      text-align: left !important;
    }
  }
}

.ordersTable {
  :global(.lat-table) {
    border-left: 0;
    border-right: 0;
  }

  :global([class*='table-wrapper']) {
    smallScroll()
  }


  :global(.lat-table-placeholder) {
    height: (22 * 8)px;
    line-height: (22 * 8)px;
    padding: 0 16px;
    border: 0;
  }

  table {
    border-spacing: 0;

    thead {
      overflow-x: hidden;
      tr {
        th {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0;
          height: 25px;

          span {
            display: block;
          }
          &:first-child {
            padding-left: 10px;
          }
          &:last-child {
            padding-right: 10px;
          }
        }
      }
    }

    tbody {
      overflow-x: hidden;

      tr {
        td {
          font-size: 10px;
          font-weight: 400;
          padding: 2px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          height: 22px;

          &:first-child {
            padding-left: 10px;
          }
          &:last-child {
            padding-right: 10px;
          }
        }
      }
    }
  }
}
}

.mobileBackButton {
  position absolute;
  left: 12px;
  top: 10px;
  font-size: 26px;
  z-index: 1;
}

.mobileSellButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px;

  background-color: transparent;

}

.mobileTabs {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;

  > :global(.lat-tabs-bar) {
    padding-left: 45px;
    margin-bottom: 0;
    background: #fff;

    :global(.lat-tabs-tab) {
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      margin: 0;
      color: #949494;
      white-space: no-wrap;

      &:hover {
        color: black;
      }
    }
  }


  > :global(.lat-tabs-content) {
    height: 100% !important;

    > :global(.lat-tabs-tabpane) {
      display: flex;
      flex-direction: column;
      padding: 8px !important;

      &:global(.lat-tabs-tabpane-inactive) {
        padding: 8px !important;
      }
    }
  }

  :global(.lat-table-row td) {
    height: 40px !important;
  }


  :global(.lat-tabs-tab-active) {
    opacity: 1 !important;
  }


  :global(.chart-controls-bar) {
    display: none !important;
  }

  div.chartContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100% !important;

    .chartHeader {
      transform: none;
      padding: 6px 15px 0 15px;
      position: relative;
      top: 0;

      > * {
        height: 30px;
        margin-right: 10px;
        font-size: 14px;
        border-radius: 0;

      }
      :global(.ant-select-selection) {
        height: 30px;
        border-radius: 0;
        > * {
          line-height: 30px;
          font-size: 14px;
        }
      }
    }

    div.chartWrapper {
      //height: calc(100% - 52px) !important;
      //display: flex;
      //flex-direction: column;
      height: 100% !important;
      flex: 1;
    }
  }

  .centerPanel {
    flex: 1 1 auto;
    margin: 0;
    padding: 0;
    .resizer {
      display none;
    }

    .chartBlock {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      flex: 1 0;
    }
  }

  .ordersContainer {
    height: auto !important;
    flex: 1 0 auto;

    :global(.lat-tabs-tab) {
      margin-right: 12px;

      > div {
        display: flex;
        flex: 0 0 auto;
      }
    }
  }

  .greenContentMobile {
    color: $green1;
  }

  .redContentMobile {
    color: $red1;
  }

  .infoPreview {
    margin: 0 5px 0 4px;
    background-color: #0096ac;
    color: white;
    font-weight: bold;
  }

  .buyRow, .sellRow {
    height: 32px;
  }

  .mobileOverviewTab {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    .chartBlock {
      margin: 0;
      padding: 0;
      border-bottom: 0;
      flex: 0 0;
    }
    .cryptoInfoBlock {
      margin: 0;
    }
  }
}

.orderBook {
  position: relative;
  width: 100%;
  tradingBlock();
  min-width: 320px;

  &.mobileOrderBook {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 280px;
    .orderBookHeader {
      display none;
    }
    > div {
      display flex;
    }

    .mobileOrdersTablesWrap {
      display flex;
      overflow: auto;
      flex: 1;
      position: relative;

      .tableDivider {
        position: absolute;
        left: calc(50% - 1px);
        width: 1px;
        background-color: #f2f2f2;
        height: 100%;
      }
    }
    .orderBookUpperPanel {
      display flex;
      justify-content: flex-end;

      border: 1px solid #f2f2f2;

      .orderBookHeader {
        display none;
      }
    }

    .orderBookAction {
      min-width: 60px;
    }

    .mobileDraggableAndScrollable {
      &:after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;

        left: calc(50% - 1px);
        top: 0;

        background-color: #f2f2f2;
      }
    }

    table {
      td, th {
        &:first-child {
          padding-right: 0;
        }
        &:last-child {
          padding-left: 0;
        }
      }

      @media (max-width: 330px) {
        th {
          letter-spacing: -1px;
        }
      }
    }
  }

  .orderBookUpperPanel {
    position: relative;
    border-bottom: 1px solid #e2e2e2;
    line-height: 37px;
    min-height: 38px;
    padding: 0 10px;

    .orderBookHeader {
      display: inline-block;
      position: relative;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      line-height: 100%;
    }

    .actionsPanel {
      float: right;

      .orderBookStatusLabel {
        font-size: 11px;
        color: $grey3;
        user-select: none;
        display: inline-block;
        vertical-align: top;
        margin-right: 4px;
      }

      .orderBookAction {
        margin-left: 4px;
        margin-top: 4px;
        vertical-align: top;
        height: 28px;
        width: 28px;
        padding: 0;
        font-size: 11px;
        border-color: #c9cbcd;
        color: #949494;

        &.active {
          &:hover {
            color: $blue1;
            background: alpha($blue1, 0.3);
            border-color: transparent;
          }
        }

        &[disabled] {
          cursor: default;
        }

        .orderBookActionIcon {
          position: relative;
          top: 2px;
          color: #b0b0b0;
        }
      }
    }
  }

  .draggableContainer {
    height: 350px;
    overflow-y: hidden;
  }

  .draggableContent {
    display: block;
    position: relative;
  }

  table {
    width: 100%;
    color: rgba(0,0,0,0.9);
    tr {
      background: rgba(0, 0, 0, 0.03);

      &.fakeRow {
        display: none;
      }


      &:nth-child(even) {
        background: white;
      }
      &:hover {
        background-color: #d3ebea;
      }

      td, th {
        position: relative;
        padding: 0px 10px 0 10px;
        text-align: right;
        vertical-align: middle

        &.priceColumn {
          text-align: left;
        }
      }

      th {
        font-size: 11px;
        font-weight: 400;
        background: #f2f2f2;
        color: rgba(0,0,0,0.9);
      }

      td {
        font-weight: 400;
        font-size: 11px;
        user-select: none;

        .meaningfulNumber {
          display: inline-block;
          vertical-align: middle
          position: relative;
          z-index: 2;
        }

        .cellBar {
          position: absolute;
          width: 40px;
          right: 0;
          top: 0;
          bottom: 0;
          z-index: 1;
          -webkit-transition: width 0.2s; /* Safari */
          transition: width 0.2s;
        }
      }

      &.buyRow {
        cursor: pointer;

        td {
          .cellBar {
            background-color: alpha($green1, 0.15);
          }
          .meaningfulNumber {
            color: rgba($green1, 1);

            //.nonMeaningful {
            //  color: rgba($green1, 0.5);
            //}
          }
        }
      }

      &.sellRow {
        cursor: pointer;

        td {
          .cellBar {
            background-color: alpha($red1, 0.15);
          }
          .meaningfulNumber {
            color: rgba($red1, 1);
            //.nonMeaningful {
            //  color: rgba($red1, 0.5);
            //}
          }
        }
      }


      &.lastPriceRow {
        height: 40px;


        td {
          padding: 0;
          text-align: left;

          .dragMarkerContainer {
            display: inline-block;
            position: absolute;
            z-index: 1;
            right: 9px;
            top: 10px;
          }
        }
      }
    }

    .cellContent {
      position: relative;
      z-index: 2;
    }

  }

}

.meaningfulNumber {
  .nonMeaningful {
    //color: #a3a3a3;
  }
}

.dragMarker {
  display: inline-block;
  position: relative;
  width: 10px;
  height: 20px;
  line-height: 100%;
  font-size: 14px;
  color: #a3a3a3;

  &:before {
    display: inline-block;
    position absolute;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    content: '\f0d8';
  }

  &:after {
    display: inline-block;
    position absolute;
    bottom: 0;
    left: 0;
    font-family: FontAwesome;
    content: '\f0d7';
  }
}

.mobileOrderRemoveConfirm {
  :global(.ant-modal-footer) {
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 15px 24px;
    border-top: 1px solid #e8e8e8;

    :global(.lat-btn) {
      //width: calc(50% - 24px);
      //padding: 10px 15px;
    }
  }

  .recordRow {
    display flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 8px;
    span, p {
      width: 50%;
      text-align: left;
      color: #9b9b9b;
      margin: 0;
      padding: 0;
      flex: 1 1;
    }

    p {
      color: black;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 430px) {
  .chartInfoRow {
    justify-content: space-between !important;
  }
  :global(.lat-tabs-tab) {
    font-size : 14px !important;
  }
}

//TODO remove after responsiver up to MobileS
@media (max-width: 374px) {
  .mobileTabs {
    .chartHeader {
      //padding: 0 5px !important;
      > * {
        margin-right: 5px !important;
      }
    }
  }
  .chartInfoRow {
    justify-content: space-between !important;
  }
  :global(.lat-tabs-tab) {
    font-size : 14px !important;
  }

  .recordRow {
    font-size: 16px;
  }

  .priceRow {
    .leftColumn {
      padding: 0;
    }
  }

  .cryptoInfoBlock {
    .priceRow {
      .leftColumn {
        width 82% !important;
        padding-right: 0 !important;
      }
      .rightColumn .valueBlock .caption {
        width: 100%;
        float: right;
      }
    }
    .mobileRow {
      .leftColumn {
        width: 79% !important;
      }
    }
  }
}

@media (max-width: 360px) {
  .priceRow {
    .leftColumn {
      padding: 0 0 0 6px;
    }
    .suffix {
      width: 46px;
    }
  }
}

.noScroll {
  position: fixed;
  //overflow: hidden !important;
  overflow-y: auto !important;
  height: 100%;
  width: 100%;
}
