@import './mixins.styl';

.Steps {
  position: relative;
  width: 100%;
  .lineLayer {
    position: absolute;
    left: 35px;
    right: 35px;
    top: 21px;
    height: 3px;
    background-color: #c3c3c3;
    +phone-query() {
      display: none;
    }

    +md-query() {
      display: block;
    }
  }
  .circlesLayer {
    +phone-query() {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 100%;
      flex-wrap: wrap;
    }
    +md-query() {
      justify-content: space-between;
    }

    .stepWrapper {
      width: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      +phone-query() {
        margin-bottom: 5px;
        &:last-of-type {
          margin-bottom: 0;
        }
      }

      +md-query() {
        margin-bottom: 0;
      }

      .stepCircle {
        width: 48px;
        height: 48px;
        font-size: 20px;
        font-weight: 500;
        border: 2px solid rgba(0, 0, 0, 0.392);
        color: rgba(0, 0, 0, 0.392);
        background-color: #fff;
        border-radius: 50%;
        margin-bottom: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        line-height: 100%;
        margin-left: 20px;
        margin-right: 20px;
      }
      .stepLabel {
        text-align: center;
        color: rgba(0, 0, 0, 0.392);
        text-transform: uppercase;
        font-weight: 500;
        &--size-normal {
        }
        &--size-small {
          font-size: 14px;
        }

      }
      &.is-action {
        cursor: pointer;
      }
      &.current {
        .stepCircle {
          background-color: white;
        }

        .stepLabel {
          color: black;
        }
      }
      &.active {
        .stepCircle {
          border: 2px solid $blue1;
          color: white;
          background-color: $blue1;
        }
      }
    }
  }
}
