.header {
   font-size: 10px;
   text-transform: capitalize;
   font-weight: 600;
   color: #000;
 }

.column {
  font-size: 10px;
  color: rgba(0,0,0,0.9);
}

.sell {
  color: #f00;
}

.buy {
  color: #3dbd7d;
}