.warningInfo {
  margin: 50px 0px;

  p {
    text-align: center;
    line-height: 0.6;
    font-size: 12px;
  }
}

.infoBlock {
  margin: 50px 0px;

  p {
    text-align: center;
    line-height: 1.3;
    font-size: 11px;
    padding: 0px 5px;
  }
}

.stepTitle {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.centerBlocks {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.confirmationRow {
  border: 1px solid #e8e8e8;
  padding: 12px 20px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.confirmationCheckbox {
  margin-bottom: 0px;
  line-height: 2;
}

.linkWrapper {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sectionTitle {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 30px;
  padding: 5px 0px;
  font-weight: bold;
}
