.stepsButtons {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  border-top: 1px solid #d0d0d0;
  :global(.ant-btn) {
    text-transform: uppercase;
    border-radius: 0px;
    font-weight: 400;
    background-color: #A4A4A4;
    color: white;
    height: 47px;
    padding: 15px 40px;
    letter-spacing: 0.5px;
    &:global(.ant-btn-primary) {
      background-color: #0096AC;
      color: white;
    }
  }
}

.wizardTitle {
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  margin-top: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.wizardForm {
  margin-top: 40px;
}
