.RangePickerWithSelect {
  .row {
    display: flex
    justify-content: center;

    & > * {
      flex-grow 1
    }
    & + .row {
      padding-top: 8px
    }
  }

  .label {
    flex-basis 45px
    width: 45px
    flex-grow: inherit
    text-align: right
    padding-right: 8px
    &:before {
      content:''
      height: 100%
      display: inline-block
      vertical-align: middle
    }
  }
}
