$prefix = lat-table;

$table-header-icon-color = $text-color-secondary;

.wrapper {
  clearfix();
}

.table {
  reset-component();
  position: relative;
  clear: both;
  color: $text-color;
  th,
  td {
    border-color: transparent;
  }
  :global(.{$prefix}-body) {
    transition: opacity .3s;
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    text-align: left;
    border-radius: $border-radius-base $border-radius-base 0 0;
  }

  :global(.{$prefix}-thead) > tr > th {
    background: $table-header-bg;
    transition: background .3s ease;
    text-align: left;
    color: $heading-color;
    font-weight: 500;
    border-bottom: $border-width-base $border-style-base $border-color-split;
    user-select: none;

    &[colspan] {
      text-align: center;
      border-bottom: 0;
    }

    // https://github.com/ant-design/ant-design/issues/8979
    &.column-has-filters {
      overflow: hidden;
    }

  }

  :global(.{$prefix}-thead) > tr:first-child > th {
    &:first-child {
      border-top-left-radius: $border-radius-base;
    }

    &:last-child {
      border-top-right-radius: $border-radius-base;
    }
  }

  :global(.{$prefix}-tbody) > tr > td {
    border-bottom: $border-width-base $border-style-base $border-color-split;
  }

  :global(.{$prefix}-thead) > tr,
  :global(.{$prefix}-tbody) > tr {
    & > td {
      border-color: $border-color-split;
    }
    &:global(.{$prefix}-row-hover),
    &:hover {
      & > td {
        background: $table-row-hover-bg;
      }
    }
  }

  :global(.{$prefix}-thead) > tr:hover {
    background: none;
  }

  :global(.{$prefix}-footer) {
    padding: $table-padding-vertical $table-padding-horizontal;
    background: $table-header-bg;
    border-radius: 0 0 $border-radius-base $border-radius-base;
    position: relative;
    border-top: $border-width-base $border-style-base $border-color-split;
    &:before {
      content: '';
      height: 1px;
      background: $table-header-bg;
      position: absolute;
      top: -1px;
      width: 100%;
      left: 0;
    }
  }

  :global(.{$prefix}-title) {
    padding: $table-padding-vertical 0;
    position: relative;
    top: 1px;
    border-radius: $border-radius-base $border-radius-base 0 0;
  }
  :global(.{$prefix}-title) + :global(.{$prefix}-content ) {
    position: relative;
    border-radius: $border-radius-base $border-radius-base 0 0;
    overflow: hidden;
  }

  // https://github.com/ant-design/ant-design/issues/4373
  &-without-column-header :global(.{$prefix}-title) + :global(.{$prefix}-content),
  &-without-column-header table {
    border-radius: 0;
  }

  :global(.{$prefix}-tbody) > tr.row-selected td {
    background: $table-selected-row-bg;
  }

  :global(.{$prefix}-thead) > tr > th.column-sort {
    background: $table-header-sort-bg;
  }
  :global(.{$prefix}-thead) > tr > th.column-sortable {
    cursor: pointer
    &:hover {
      background: $table-header-sort-bg;
    }
  }

  :global(.{$prefix}-thead) > tr > th,
  :global(.{$prefix}-tbody) > tr > td {
    padding: $table-padding-vertical $table-padding-horizontal;
  }

  :global(.{$prefix}-thead) > tr > th.selection-column-custom {
    padding-left: 16px;
    padding-right: 0;
  }

  :global(.{$prefix}-thead) > tr > th.selection-column,
  :global(.{$prefix}-tbody) > tr > td.selection-column {
    text-align: center;
    min-width: 62px;
    width: 62px;
    :global(.{$ant-prefix}-radi) o-wrapper {
      margin-right: 0;
    }
  }

  :global(.{$prefix}-expand-icon-th),
  :global(.{$prefix}-row-expand-icon-cell) {
    text-align: center;
    min-width: 50px;
    width: 50px;
  }

  :global(.{$prefix}-header) {
    background: $table-header-bg;
    overflow: hidden;
  }

  :global(.{$prefix}-header) table {
    border-radius: $border-radius-base $border-radius-base 0 0;
  }

  :global(.{$prefix}-placeholder) {
    position: relative;
    padding: $table-padding-vertical $table-padding-horizontal;
    background: $component-background;
    border-bottom: $border-width-base $border-style-base $border-color-split;
    text-align: center;
    font-size: $font-size-base;
    color: $text-color-secondary;
    z-index: 1;
    :global(.{$iconfont-css-prefix}) {
      margin-right: 4px;
    }
  }

  :global(.{$prefix}-row) {
    &-expand-icon {
      cursor: pointer;
      display: inline-block;
      width: 17px;
      height: 17px;
      text-align: center;
      line-height: 14px;
      border: $border-width-base $border-style-base $border-color-split;
      user-select: none;
      background: $component-background;
    }

    &-expanded:after {
      content: '-';
    }

    &-collapsed:after {
      content: '+';
    }

    &-spaced {
      visibility: hidden;
      &:after {
        content: '.';
      }
    }

    &[class*="row-level-0"] .selection-column > span {
      display: inline-block;
    }
  }

  :global(tr.{$prefix}-expanded-row) {
    td,
    &:hover td {
      background: #fbfbfb;
    }
  }

  :global(.{$prefix}-row-indent) + :global(.{$prefix}-row-expand-icon) {
    margin-right: 8px;
  }

  :global(.{$prefix}-scroll) {
    overflow: auto;
    overflow-x: hidden;
    table {
      min-width: 100%;
    }
  }

  :global(.{$prefix}-body-inner) {
    height: 100%;
  }

  &:global(.{$prefix}-fixed-header) > :global(.{$prefix}-content ) > :global(.{$prefix}-scroll) > :global(.{$prefix}-body) {
    position: relative;
    background: $component-background;
  }

  &:global(.{$prefix}-fixed-header) :global(.{$prefix}-body-inner) {
    overflow: scroll;
  }

  &:global(.{$prefix}-fixed-header) :global(.{$prefix}-scroll) :global(.{$prefix}-header) {
    overflow-x: scroll;
    //margin-bottom: -17px;
    padding-bottom: 0;
  }

  :global(.{$prefix}-fixed-left),
  :global(.{$prefix}-fixed-right) {
    position: absolute;
    z-index: 2;
    top: 0;
    overflow: hidden;
    transition: box-shadow .3s ease;
    border-radius: 0;
    :global(.{$prefix}-body-inner) {
      -ms-overflow-style: none; // IE 10+
      overflow: -moz-scrollbars-none; // Firefox
      &::-webkit-scrollbar {
        width: 0px; /* remove scrollbar space */
        background: transparent; /* optional: just make scrollbar invisible */
      }
    }
    table {
      width: auto;
      background: $component-background;
    }
  }

  :global(.{$prefix}-fixed-header) &-fixed-left :global(.{$prefix}-body-outer) &-fixed,
  :global(.{$prefix}-fixed-header) &-fixed-right :global(.{$prefix}-body-outer) &-fixed {
    border-radius: 0;
  }

  :global(.{$prefix}-fixed-header)
  :global(.{$prefix}-fixed-left) {
    left: 0;
    box-shadow: 6px 0 6px -4px $shadow-color;
    :global(.{$prefix}-header) {
      overflow-y: hidden;
    }
    // hide scrollbar in left fixed columns
    :global(.{$prefix}-body) -inner {
      margin-right: -20px;
      padding-right: 20px;
    }
    :global(.{$prefix}-fixed-header) & :global(.{$prefix}-body) -inner {
      padding-right: 0;
    }
    &,
    table {
      border-radius: $border-radius-base 0 0 0;
    }
    :global(.{$prefix}-thead) > tr > th:last-child {
      border-top-right-radius: 0;
    }
  }

  :global(.{$prefix}-fixed-right) {
    right: 0;
    box-shadow: -6px 0 6px -4px $shadow-color;
    &,
    table {
      border-radius: 0 $border-radius-base 0 0;
    }
    // hide expand row content in right-fixed Table
    // https://github.com/ant-design/ant-design/issues/1898
    :global(.{$prefix}-expanded-row) {
      color: transparent;
      pointer-events: none;
    }
    :global(.{$prefix}-thead) > tr > th:first-child {
      border-top-left-radius: 0;
    }
  }

  &:global(.{$prefix}-scroll-position-left) :global(.{$prefix}-fixed-left) {
    box-shadow: none;
  }

  &:global(.{$prefix}-scroll-position-right) :global(.{$prefix}-fixed-right) {
    box-shadow: none;
  }

  &.bordered {
    :global(.{$prefix}-header) > table,
    :global(.{$prefix}-body) > table,
    :global(.{$prefix}-fixed-left) table,
    :global(.{$prefix}-fixed-right) table {
      border: $border-width-base $border-style-base $border-color-split;
      border-right: 0;
      border-bottom: 0;
    }

    &:global(.{$prefix}-empty) {
      :global(.{$prefix}-placeholder) {
        border-left: $border-width-base $border-style-base $border-color-split;
        border-right: $border-width-base $border-style-base $border-color-split;
      }
    }

    &:global(.{$prefix}-fixed-header) {
      :global(.{$prefix}-header) > table {
        border-bottom: 0;
      }

      :global(.{$prefix}-body) > table {
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }

      :global(.{$prefix}-body) -inner > table {
        border-top: 0;
      }

      :global(.{$prefix}-placeholder) {
        border: 0;
      }

      :global(.{$prefix}-fixed-left),
      :global(.{$prefix}-fixed-right) {
        :global(.{$prefix}-body-inner) {
          table {
            border-top: none
          }
        }
      }
    }

    :global(.{$prefix}-thead) > tr > th {
      border-bottom: $border-width-base $border-style-base $border-color-split;
    }

    :global(.{$prefix}-thead) > tr > th,
    :global(.{$prefix}-tbody) > tr > td {
      border-right: $border-width-base $border-style-base $border-color-split;
    }

    :global(.{$prefix}-footer) {
      border: $border-width-base $border-style-base $border-color-split;
    }

    :global(.{$prefix}-title) {
      border: $border-width-base $border-style-base $border-color-split;
      padding-left: $table-padding-horizontal;
      padding-right: $table-padding-horizontal;
    }

    :global(.{$prefix}-title) + :global(.{$prefix}-content ) {
      &,
      table,
      &:global(.{$prefix}-thead) > tr:first-child > th {
        border-radius: 0;
      }
    }

  }

}

.filter-dropdown {
  min-width: 96px;
  margin-left: -8px;
  background: $component-background;
  border-radius: $border-radius-base;
  box-shadow: $box-shadow-base;

  :global(.{$ant-prefix}-dropdown-menu) {
    border: 0;
    box-shadow: none;
    border-radius: $border-radius-base $border-radius-base 0 0;

    // https://github.com/ant-design/ant-design/issues/4916
    &-without-submenu {
      max-height: 400px;
      overflow-x: hidden;
    }

    &-item > label + span {
      padding-right: 0;
    }

    &-sub {
      border-radius: $border-radius-base;
      box-shadow: $box-shadow-base;
    }

    :global(.{$ant-prefix}-dropdown) :global(.{$ant-prefix}-dropdown-submenu-contain-selected) {
      :global(.{$ant-prefix}-dropdown-menu-submenu-title):after {
        color: $primary-color;
        font-weight: bold;
        text-shadow: 0 0 2px $primary-2;
      }
    }
  }

  :global(.{$ant-prefix}-dropdown-menu-item) {
    overflow: hidden;
  }

  > :global(.{$ant-prefix}-dropdown-menu) > :global(.{$ant-prefix}-dropdown-menu-item):last-child,
  > :global(.{$ant-prefix}-dropdown-menu) > :global(.{$ant-prefix}-dropdown-menu-submenu):last-child :global(.{$ant-prefix}-dropdown-menu-submenu-title) {
    border-radius: 0;
  }

  &-btns {
    overflow: hidden;
    padding: 7px 8px;
    border-top: $border-width-base $border-style-base $border-color-split;
  }

  &-link {
    color: $link-color;
    &:hover {
      color: $link-hover-color;
    }
    &:active {
      color: $link-active-color;
    }
    &.confirm {
      float: left;
    }
    &.clear {
      float: right;
    }
  }
}

.pagination:global(.{$ant-prefix}-pagination) {
  margin: 16px 0;
  float: right;
}

.loading {
  :global(.{$prefix}-body) {
    background: $component-background;
    opacity: 0.5;
  }
  div.spin-holder {
    height: 20px;
    width: 20px
    line-height: 20px;
    left: 50%;
    top: 50%;
    margin-left: -30px;
    position: absolute;
  }
  div.with-pagination {
    margin-top: -20px;
  }
  div.without-pagination {
    margin-top: 10px;
  }
}

.column-sorter {
  position: relative;
  margin-left: 8px;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  font-size: 15px
  color: $table-header-icon-color;
  &:before {
    content: $table-header-icon-color;
  }
  &-up {
    height: 0.5em;
    margin-top: -0.6em;
    display: block;
  }
  .caret-down,
  .caret-up {
    &:hover {
      color: $primary-4;
    }
  }
}

.column-sort {
  .on {
  }
  .off {
    opacity: .5
  }
}

.help-icon {
  vertical-align: middle;
  margin-left: 8px;
  display: inline-block;
  color: $table-header-icon-color;

  .icon {
    &:hover {
      color: $primary-4;
    }
  }
}

.filter-icon {
  position: relative;
  vertical-align: middle
  margin-left: 8px;
  font-size: $font-size-base;
  cursor: pointer;
  color: $table-header-icon-color;
  transition: color .3s;
  width: 14px;
  font-weight: normal;
  &.filter-selected {
    color: $primary-color;

  }
  &:hover {
    color: $primary-4;
  }
}

.column-sorter + .filter-icon {
  margin-left: 4px;
}

.selection {
  &-select-all-custom {
    margin-right: 4px !important;
  }

  :global(.{$iconfont-css-prefix}-down) {
    color: $table-header-icon-color;
    transition: all .3s;
  }

  &-menu {
    min-width: 96px;
    margin-top: 5px;
    margin-left: -30px;
    background: $component-background;
    border-radius: $border-radius-base;
    box-shadow: $box-shadow-base;

    :global(.{$ant-prefix}-actio) n-down {
      color: $table-header-icon-color;
    }
  }

  &-down {
    cursor: pointer;
    display: inline-block;
    line-height: 1;
    padding: 0 25px 0 5px;
    margin: 0 -25px 0 -5px;
    &:hover :global(.{$iconfont-css-prefix}-down) {
      color: #666;
    }
  }
}

.striped {
  :global(.{$prefix}-thead) > tr > th,
  :global(.{$prefix}-tbody) > tr > td {
    border-bottom: none !important
  }
}

.expand-hide {
  :global(.{$prefix}-expand-icon-col),
  :global(.{$prefix}-expanded-row td:first-child),
  :global(.{$prefix}-expand-icon-th),
  :global(.{$prefix}-row-expand-icon),
  :global(.{$prefix}-row-expand-icon-cell) {
    display: none;
  }
}

.table-wrapper {
  overflow: auto
  width: 100%
}

.table-oly-header {
  position: absolute;
  overflow: hidden;
  left: 0;
  width: 100%
  transition: box-shadow 100ms
  :global(.{$prefix}-fixed-left),
  :global(.{$prefix}-fixed-right) {
    box-shadow: none !important;
    z-index: 3
  }
  lat-table-scroll
  :global(.{$prefix}-header) {
    position: relative
    z-index: 1;
    overflow: auto
    overflow: -moz-scrollbars-none !important;
    &::-webkit-scrollbar {
      display: none;
    }
  }
  :global(.{$prefix}-title) {
    opacity: 0
  }
  :global(.{$prefix}-expand-icon-th) {
    &:before {
      content: ''
      width: 17px;
      min-width: 17px;
      display: inline-block
    }
  }
  :global(.{$prefix}-footer),
  :global(.{$prefix}-placeholder) {
    display: none
  }
}

@import './size';
