
.middle {

  :global(.{$prefix}-title),
  :global(.{$prefix}-footer) {
    padding: 6px
  }
  > :global(.{$prefix}-content) {
    > :global(.{$prefix}-header) > table,
    > :global(.{$prefix}-body) > table,
    > :global(.{$prefix}-scroll) > :global(.{$prefix}-header) > table,
    > :global(.{$prefix}-scroll) > :global(.{$prefix}-body) > table,
    > :global(.{$prefix}-fixed-left) > :global(.{$prefix}-header) > table,
    > :global(.{$prefix}-fixed-right) > :global(.{$prefix}-header) > table,
    > :global(.{$prefix}-fixed-left) > :global(.{$prefix}-body-outer) > :global(.{$prefix}-body-inner) > table,
    > :global(.{$prefix}-fixed-right) > :global(.{$prefix}-body-outer) > :global(.{$prefix}-body-inner) > table {
      > :global(.{$prefix}-thead) > tr > th,
      > :global(.{$prefix}-tbody) > tr > td {
        font-size: 14px;

        font-style: normal;
        font-stretch: normal;
        line-height: 1.2;

        padding: 5px 20px;
      }
      //> :global(.{$prefix}-thead) > tr > th {
      //  color: #000
      //}
      //> :global(.{$prefix}-tbody) > tr > td {
      //  color: rgba(#000, 0.5)
      //}
    }
  }
  .column-sorter {
    &-up {
      margin-top: -0.45em;
    }
  }
}

$header-color-for-small = $text-color;
.small {
  border-radius: 0;

  font-size: 11px
  letter-spacing: 0.2px;
  line-height: 13px
  :global(.{$prefix}-thead) > tr > th {
    color: $header-color-for-small;
  }
  :global(.{$prefix}-thead) > tr > th,
  :global(.{$prefix}-tbody) > tr > td {
    padding: 4px 10px;
  }
  :global(.{$prefix}-tbody) > tr > td {
    min-height: 30px;
  }
  :global(.{$prefix}-title) {
    padding: 6px 0
  }
  :global(.{$prefix}-footer) {
    padding: 6px
  }
  :global(.{$prefix}-expand-icon-th) {
    &:before {
      content: '';
      display: inline-block;
      width: 17px;
    }
  }
  :global(.{$ant-prefix}-checkbox) {
    top: 0;
  }
  .help-icon {
    margin-left: 3px;
    margin-top: -2px;
    opacity: 0.7;
    width: 10px;
    height: 10px;
    font-size: 10px
    .icon {
      color: $header-color-for-small;
    }
  }
  .column-sorter {
    margin-left: 3px;
    margin-top: 1px;
    width: 9px;
    height: 10px;
    color: $header-color-for-small;
    opacity: 0.7;
    &:before {
      content: $header-color-for-small;
    }
    &-up {
      height: 0.5em;
      margin-top: -0.45em;
      display: block;
    }
    &-up,
    &-down {
      width: 10px;
      height: 5px;
    }

    .caret-up,
    .caret-down {
      font-size: 11px;
    }
  }
  .filter-icon {
    opacity: 0.7;
    font-size: 9px;
    margin-left: 0;
    padding-left: 4px;
    padding-right: 4px;
    width: 11px;
    height: 11px;
    margin-top: -2px;
    box-sizing: content-box;
    color: $header-color-for-small;
    &.filter-selected {
      color: $primary-color;

    }
  }
  .column-sorter + .filter-icon {
    margin-left: 0;
  }
}
