antTabs() {
  :global(.ant-tabs-bar), :global(.lat-tabs-bar) {
    margin-bottom: 0;
    //border-bottom: none;
  }

  :global(.ant-tabs-nav), :global(.lat-tabs-nav) {
    padding: 0 8px;
    text-transform: uppercase;

    :global(.ant-tabs-tab), :global(.lat-tabs-tab) {
      padding: 9px 2px;
      height: 39px;
      user-select: none;
      font-size: 14px;
      font-weight: bold;
      text-align: center;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      color: $grey3;
      white-space: pre-wrap;

      &:hover {
        color: $blue1;
      }

      &:global(.ant-tabs-tab-active), &:global(.lat-tabs-tab-active) {
        color: rgba(0, 0, 0, 0.9);
        cursor: default;
      }

      &:global(.ant-tabs-tab-disabled), &:global(.lat-tabs-tab-disabled) {
        color: $grey2;
      }
    }

    &:global(.lat-tabs-ink-bar) {
      background-color: #0096ac;
    }

    &:before, &:after {
      display: none;
    }
  }
}

tradingBlock() {
  margin: 2px 0;
  border: 1px solid $grey1;
  background: #fff;
  width: 100%;

  @media (max-width: 768px) {
    margin: 0;
  }
}
