.filters {
  line-height: 0;
}
  .iconDisabled {
   g {
     fill: rgba(0,0,0,0.45);
   }

    &:hover {
      g {
        fill: #3fbbc4;
      }
    }
  }
.menuFooter {
  padding: 7px 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 96px;
  min-height: 36px;
}
.filterAction {
  color: #0096ac;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  &:hover {
    color: #1da8b8;
  }
}