@import "./vars.styl";

.table {
  * {
    &:focus {
      outline: none;
    }
  }

  div[role="columnheader"] {
    user-select: none;
    height: 100%;
    background-color: $header-backgroud;
    flex-grow: 1;
    &:last-of-type {
      padding-right: 0;
    }

    &:first-of-type {
      padding-left: 0;
    }
    &:hover {
      background-color: $header-backgroud;
    }
  }

  div[role="row"] {
    background-color: rgba(0, 0, 0, 0.03);
    padding-right: 0!important;
    &:hover {
      background-color: #d3ebea;
    }
  }

  div[role='headerrow'] {
    padding-right: 0!important;
  }

  div[role="gridcell"] {
    padding: 0;
    margin: 0;
    flex-grow: 1;

    &:last-of-type {
      padding-right: 0;
    }

    &:first-of-type {
      padding-left: 0
    }
  }
}

.striped {
  div[role="row"]:nth-child(odd) {
    background-color: #fff;
    &:hover {
      background-color: #d3ebea;
    }
  }
}



.grid {
  &::-webkit-scrollbar {
    width: 4px;

  }

  &::-webkit-scrollbar-track {
    background: #ddd;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(102, 102, 102, 0.5);
  }

  -ms-overflow-style: -ms-autohiding-scrollbar;

}

.filters {
  margin-right: 8px;
}
