.pagination {
  display: flex
  align-items: center;
  justify-content: flex-start;
  list-style: none;
}

.left {
  justify-content: flex-start;
}

.right {
  justify-content: flex-end;
}

.center {
  justify-content: center;
}

.item {
  flex-basis: 24px;
  height: 24px;
  line-height: 24px;
  border-radius: 2px;
  text-align: center;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .2s linear;
  &:last-of-type {
    margin-right: 0;
  }
  &:hover {
    background-color: #0096AC;
    a {
      color: #fff;
    }
  }
  a {
    width: 100%;
    height: 100%;
    line-height: 24px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.9);
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
  }
}
.active {
  background-color: #0096AC;
  a  {
    color: #fff;
  }
}
.prev {
  margin-right: 15px;
  a {
    line-height: 0;
    width: 100%;
    height: 100%;
    display: block;
  }

}

.next {
  margin-left: 15px;
  flex-basis: 24px;
  height: 24px;
  a {
    line-height: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}

.disabled {
  color: gray;
  cursor: disabled;
  a {
    color: gray;
  }
}

.arrow {
  line-height: 0;
  font-size: 14px;
}
