.arrows {
  margin-bottom: auto;
  margin-top: auto;
}

.arrow {
  line-height: 0;
  margin-bottom: 2px;
  color: #929292;
  &:last-child {
    margin-bottom: 0;
  }
  cursor: pointer;
  &:hover {
    color: #3fbbc4;
  }

  svg {
    min-width: .71em;
    max-width: .71em;
  }
}

.active {
  color: rgba(0,0,0,0.45);
}

.arrowUp {
  transform: rotate(-180deg);
}